<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div id="filter">
    <div id="mode">
        <div class="oneView">
            <div class="oneViewInput">
                <input name="viewSelect" type="radio" {f:if(condition: '{action} == "list"', then: 'checked')} />
            </div>
            <div class="oneViewLabel">
                <f:link.action action="list" noCache="1">Kalender</f:link.action>
            </div>
            <div class="clear"></div>
        </div>
        <div class="oneView">
            <div class="oneViewInput">
                <input name="viewSelect" type="radio" {f:if(condition: '{action} == "listDay"', then: 'checked')} />
            </div>
            <div class="oneViewLabel">
                <f:link.action action="listDay" noCache="1">Nach Tag</f:link.action>
            </div>
            <div class="clear"></div>
        </div>
        <div class="oneView">
            <div class="oneViewInput">
                <input name="viewSelect" type="radio" {f:if(condition: '{action} == "listTitle"', then: 'checked')} />
            </div>
            <div class="oneViewLabel">
                <f:link.action action="listTitle" noCache="1">Nach Filmtitel</f:link.action>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div id="filterItself">
        <div class="oneFilter" data-filternr="0" data-filteron="1" > 
            <div class="oneFilterInput">
                <input name="viewSelect" type="checkbox"  checked/>
            </div>
            <div class="oneFilterLabel">
                Hauptprogramm
            </div>
              <div class="clear"></div>
        </div>
      <div class="oneFilter" data-filternr="1" data-filteron="1" >
            <div class="oneFilterInput" >
                <input name="viewSelect" type="checkbox" checked />
            </div>
            <div class="oneFilterLabel">
               Junge Doks   
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
