
<div class="oneMovie" data-filter="{f:if(condition: '{movie.jungedoks} > 0', then: '1', else: '0' )}">


    <div class="title clickableHeader">
        {movie.title}
    </div>

    <div class="openDetails">
        {movie.country} {movie.length}{f:if(condition: movie.omu, then: ', OmU')}
        {f:if(condition: movie.hauptprogramm, then: '(Hauptprogramm)')}
        {f:if(condition: movie.jungedoks, then: '(Junge Doks Jugend)')}
        {f:if(condition: movie.kinderprogramm, then: '(Junge Doks Kinder)')}

    </div> 

    <div class="collapsableContainer">
        <table>
            <tr> 
            <f:if condition="{movie.image}">
                <f:then>
                    <td class="image">
                    <f:image image="{movie.image}" width="220c" height="220c"/>
                </td> <td class="details">  
        </f:then>
        <f:else>
            <td class="details" colspan="2">
        </f:else>
    </f:if>
    <f:format.raw>{movie.involved}</f:format.raw>
    </td>   
    </tr>
</table>

<h3>{movie.title}</h3>
<div class="description">
    <f:format.raw>{movie.description}</f:format.raw>
</div>
</div>

