                    <div class="onemovie"> 
                        <f:if condition="{movie.image}">
                            
                            <f:then>
                                <div class="ce-gallery" style="width:320px; float:left;">
                                
                                <div class="swiper-container">
                                    <!-- Additional required wrapper -->
                                    <div class="swiper-wrapper">
                                        <f:for each="{movie.image}" as="image">
                                            <div class="swiper-slide" style="background-image:url('<f:uri.image image="{image}" width="320px" /> ');" />
                                                <f:image image="{image}" width="320c" height="180c"/>
                                            </div>
                                         </f:for>
                                    </div>
                                    <!-- If we need pagination 
                                    <div class="swiper-pagination"></div>-->
                                    <!-- If we need navigation buttons -->
                                    <f:if condition="{movie.image}>1">
                                        <f:then>
                                    <div class="swiper-button-prev"></div>
                                    <div class="swiper-button-next"></div>
                                        </f:then>
                                    </f:if>

                                    <!-- If we need scrollbar   
                                    <div class="swiper-scrollbar"></div>
                                    -->                                    
                                </div>
                                </div>
                        </f:then>
                        <f:else>
                        </f:else>
                    </f:if>
                    
                    <table class="openDetails">
                        <tr>
                            <td class="alignTop">
                                <div class="movieTitle">
                                    <h3>{movie.title}</h3>
                                </div>
                                {movie.country} {movie.length}{f:if(condition: movie.omu, then: ', OmU')}
                                {f:if(condition: movie.hauptprogramm, then: '(Hauptprogramm)')}
                                {f:if(condition: movie.jungedoks, then: '(Junge Doks Jugend)')}
                                {f:if(condition: movie.kinderprogramm, then: '(Junge Doks Kinder)')}                                
                            </td>
                        </tr>
                        <tr>
                            <td class="alignBottom right">
                                <div class="title clickableHeader">
                                   mehr...
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                    <div class="clear"></div>
                    
                    <div class="collapsableContainer">

                        <table> <tr> 
                    <f:format.raw>{movie.involved}</f:format.raw>
                    </td>   

                    </tr></table>

                <h3>{movie.title}</h3>
                <div class="description">
                    <f:format.raw>{movie.description}</f:format.raw>
                </div>

                <div class="date">
                    <f:for each="{movie.presentation}" as="onePresentation">

                        <f:if condition="{onePresentation.day.date} != {day.date}">
                            <div>(weitere Aufführung:
                                <f:format.date format="%A %d. %B %Y">{onePresentation.day.date}</f:format.date>
                                <f:format.date format="H:i">{onePresentation.time}</f:format.date>)
                            </div>
                        </f:if>
                    </f:for>
                </div>
            <!-- collapsable Container End -->                        
            </div>
            <!-- one Movie END -->        
            </div>