<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-nonfiktionalemovies" >
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.title" />
		</td>
		<td>
		{movie.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.image" />
		</td>
		<td>
				<f:for each="{movie.image}" as="image" >
					<f:image src="{image.originalResource.publicUrl}" width="200"/>
				</f:for>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.hauptprogramm" />
		</td>
		<td>
		{movie.hauptprogramm}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.kinderprogramm" />
		</td>
		<td>
		{movie.kinderprogramm}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.jungedoks" />
		</td>
		<td>
		{movie.jungedoks}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.country" />
		</td>
		<td>
		{movie.country}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.year" />
		</td>
		<td>
		{movie.year}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.length" />
		</td>
		<td>
		{movie.length}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.omu" />
		</td>
		<td>
		{movie.omu}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.involved" />
		</td>
		<td>
		{movie.involved}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.description" />
		</td>
		<td>
		{movie.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_nonfiktionalemovies_domain_model_movie.prices" />
		</td>
		<td>
		{movie.prices}
		</td>
	</tr>
</table>
</html>