<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for Movie</h1>

<f:flashMessages />

<table  class="tx_nonfiktionalemovies" >
	<tr>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.title" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.image" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.hauptprogramm" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.kinderprogramm" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.jungedoks" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.country" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.year" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.length" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.omu" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.involved" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.description" /></th>
		<th><f:translate key="tx_nonfiktionalemovies_domain_model_movie.prices" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{movies}" as="movie">
		<tr>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.title}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.image}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.hauptprogramm}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.kinderprogramm}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.jungedoks}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.country}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.year}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.length}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.omu}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.involved}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{movie : movie}"> {movie.prices}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{movie : movie}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{movie : movie}">Delete</f:link.action></td>
		</tr>
		</f:for>
</table>

<f:link.action action="new">New Movie</f:link.action>
	</f:section>
</html>