<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder

    <f:section name="content">

        <f:render partial="Movie/Filter" arguments="{action:action}" />



        <f:flashMessages />
        CLENDAAAAR!                        
        <div id="standardList">
            <f:for each="{preparedDays}" as="oneDay" key="ddate">
                <div class="day">
                    <f:format.date format="%A %d. %B %Y">{oneDay.date}</f:format.date>
                </div>
                <div class="dayBorder">

                </div>
                <div class="dayInner">
                    
                        <f:for each="{oneDay}" as="day" key="ftime">

                            <f:if condition="{ftime} != 'date'">

                                    <div class="time">

                                        <f:format.date format="H:i">{ftime}</f:format.date>                    
                                    <div class="timeInner">


                                    <f:for each="{day.collections}" as="collection">

                                            <f:for each="{collection.movie}" as="movie">
                                                <f:render partial="Movie/OneMovie" arguments="{movie:movie}" />                                    
                                            </f:for>

                                    </f:for>



                                    <f:for each="{day.movies}" as="movie">
                                        <f:render partial="Movie/OneMovieCalendar" arguments="{movie:movie}" />                                    
                                    </f:for>


                                    <!-- time END -->
                                </div>
                                </div>
                            </f:if>

                </f:for>
                </div>


            </f:for>
        </div>
    </f:section>
</html>