<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:layout name="Default" />

    This Template is responsible for creating a table of domain objects.

    If you modify this template, do not forget to change the overwrite settings
    in /Configuration/ExtensionBuilder/settings.yaml:
    Resources:
    Private:
    Templates:
    List.html: keep

    Otherwise your changes will be overwritten the next time you save the extension in the extension builder




    <f:section name="content">

        <f:render partial="Movie/Filter" arguments="{action:action}" />

        
        <f:flashMessages />

        <div id="titleList">

            <f:for each="{movies}" as="movie">

               <f:render partial="Movie/MovieDetails" arguments="{movie:movie}" />
            </div>

            </f:for>
            
        </div>

    </f:section>
</html>