<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:be.container>
		<div class="typo3-fullDoc">
			<div id="typo3-docheader">
				<div class="typo3-docheader-functions">
					<div class="left">
						<f:be.buttons.csh />
						<f:be.menus.actionMenu>
							<f:be.menus.actionMenuItem label="Overview" controller="" action="list" />
							<f:be.menus.actionMenuItem label="Create new Movie" action="new" controller="Movie" />
									<f:be.menus.actionMenuItem label="Create new Day" action="new" controller="Day" />
									<f:be.menus.actionMenuItem label="Create new Presentation" action="new" controller="Presentation" />
									<f:be.menus.actionMenuItem label="Create new Collection" action="new" controller="Collection" />
									<f:be.menus.actionMenuItem label="Create new Branch" action="new" controller="Branch" />
						</f:be.menus.actionMenu>
					</div>
					<div class="right">
						<f:be.pagePath />
						<f:be.pageInfo />
					</div>
				</div>
				<div class="typo3-docheader-buttons">
					<div class="left">

					</div>
					<div class="right">
						<f:be.buttons.shortcut />
					</div>
				</div>

			</div>
			<div id="typo3-docbody">
				<div id="typo3-inner-docbody">
					<f:flashMessages />
					<f:render section="content" />
				</div>
			</div>
		</div>
	</f:be.container>
</html>
